.container {

}

.header{
    margin: 0;
    border: 0;
    top: 0;
    width: 100%;
    padding: 10px;
    background-color: #252627;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}

  
.backToHome {
  margin: 3rem 0 0;
}


.inner{
  padding-top: 2px;
  padding-bottom: 2px;
  margin: auto;
  width:75%;
  align-content: center;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  text-transform: none;
  color: inherit;
  padding-left: 10px;
  font-size: large;
}
  